{% extends 'accounts/main.html' %}
{% load static %}
{% block content%}
<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <form  action="" method="POST">
        <div class="form-group">
          {% csrf_token %}
          {{ formset.management_form }}
          {% for form in formset %}
            {{ form }}
            <hr>
          {% endfor %}
        </div>
        <input class = "btn btn-primary" type="submit" name="Submit">
      </form>
    </div>
  </div>
</div>

{% endblock %}
